.pixel-border {
  box-sizing: border-box;
  color: var(--pixel-color-text);
  background-color: var(--pixel-card-bg);
  border: 8px solid;
  border-image: url('/UI/dialog_background_hollow_4.png') 8;
}
